{% extends "main/base.html" %}

{% if messages %}
        {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
    {% endif %}

{% block content %}

<br><br>
<h1>Update This Course {{id}}</h1>
<form action="editrecord/{{ id }}" method="post">
    {% csrf_token %}
    Start Time:<br>
    <input name="start_time" value="{{ query.start_time }}">
    <br><br>

    End Time:<br>
    <input name="end_time" value="{{ query.end_time }}">
    <br><br>

    <input type="submit" value="Submit">
    </form>


{%endblock%}